table {
       border: 2px solid black;
       border-collapse: collapse ;
       width: 50 %;
       <table align= "center">;
       }
th,td{
    border: 1px solid black;
    padding: 5px;
    text-align: center ;
    }
th {
      background-color: #9e93db;

    }
td{
  background-color: white;
}
 li {
   font-weight: bold;

  }
ul li{
  text-align: center;
}

  body{
    background-color:#e6e6e6;
  }

  @media (min-width: 500px) {img{
    length: 40%;
    width: 60%;}
  }

  @media (max=width:499px)  {
    img {
      length: 30;
      width: 50;
    }

  }
  
